{% extends "App/main.html" %}
{% block content %}

<div class="header">
    <h2>Register</h2>
</div>
<div class="card-body">

    <form method="post" action="">
        {% csrf_token %}
        <label>{{form.username.label}}</label>
        {{form.username}}
        <label>{{form.password1.label}}</label>
        {{form.password1}}
        <label>{{form.password2.label}}</label>
        {{form.password2}}
        <br> <br>
        <input class="button" type="submit" value="Register">
    </form>

    <p>Have An Account?<a style="color: blue;" href="{% url 'login' %}">Login Here</a></p>

</div>
{% endblock content %}